.app-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;

  .scroll-button {
    position: fixed;
    bottom: 15px;
    right: 25px;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;

    img {
      height: 35px;
      width: 35px;
      position: relative;
      left: 1px;
      top: 3px;
    }
  }
}

/* Portrait */
@media screen and (orientation:portrait) {
  .app-container {

    .scroll-button {
      visibility: visible;
    }

    app-series, app-episodes {
      flex-basis: 50%;
    }

    app-episodes {
      padding-right: 12px;
    }

    app-video-player {
      flex-basis: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
