<div class="app-container">
  <div class="series-container card-container">
    <div class="card-header">Series</div>
    <div class="card">
      <ul *ngFor="let show of series">
        <li class="item" (click)="showSelected(show.id)">
          <img class="show-image" [src]="show.image" alt="show image">
          <span>{{ show.title }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="episodes-container card-container">
    <div class="card-header">Episodes</div>
    <div class="card">
      <ul *ngFor="let episode of episodes">
        <li class="item" (click)="episodeSelected(episode.url)">
          <span>{{ episode.title }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="video-container card-container">
    <div class="card-header">Video</div>
    <div class="card">
      <video class="video-player" *ngIf="videoUrl" [src]="videoUrl" autoplay controls>
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a [href]="videoUrl">download it</a>
        and watch it with your favorite video player!
      </video>
    </div>

  </div>
</div>
