body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  min-width: 400px;
  //background-image: url('https://images.alphacoders.com/307/thumb-1920-307471.jpg');
  background-image: url('assets/images/wallpaper.jpg');
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.card-header {
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.55);
  text-shadow: -2px 7px 7px rgba(0, 0, 0, 0.2);
}

.card {
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow :0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow    :0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  box-shadow         :0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  padding: 20px 20px 20px 15px;

  .item {
    margin-bottom: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 250ms ease;
    display: flex;
    align-items: center;
    min-height: 50px;

    &.selected {
      background: rgba(255, 0, 0, 0.4)!important;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,1);
      -moz-box-shadow: 0 0 10px 0 rgba(255,255,255,1);
      box-shadow: 0 0 10px 0 rgba(255,255,255,1);
    }

    img {
      height: 40px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}
