:host {
  align-items: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;

  .card {
    align-items: center;
    display: flex;
    padding: 0;
    width: 100%;

    .video-player {
      width: 100%;
    }
  }
}
